@font-face {
  font-family: "myFonts";
  src: url("../fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: "myFonts1";
  src: url("../fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: "play";
  src: url("../fonts/PlayfairDisplay-Regular.ttf");
}
@font-face {
  font-family: "open sans";
  src: url("../fonts/OpenSans-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  transition: all 0.1 ease;
}

body {
  overflow-x: hidden !important;
}

a {
  cursor: pointer;
}

.container {
  margin: 0 auto;
  max-width: 1619px !important;
  width: 100% !important;
  position: relative;
}

.dark-mode {
  background-color: #333333;
  color: #ffffff;
}

.dark-href {
  color: #ffffff;
}

.input-valid {
  border: 1px solid green;
}

.input-field {
  border: 1px solid red;
}

.d-block {
  display: block !important;
}

.d-none {
  display: none !important;
}

.d-none2 {
  transform: translateY(-1000px);
  z-index: 1222;
  background: #ffffff;
}

@media only screen and (max-width: 1024px) {
  .container {
    margin: 0 auto;
    max-width: 996px !important;
    width: 100% !important;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    margin: 0 auto;
    max-width: 728px !important;
    width: 100% !important;
  }
}
@media only screen and (max-width: 320px) {
  .container {
    margin: 0 auto;
    max-width: 288px !important;
    width: 100% !important;
  }
}
.header {
  background: transparent;
  position: absolute;
  top: 0;
  z-index: 111234;
  left: 0;
  right: 0;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 88px;
}
.header__nav .nav__logo {
  max-width: 144px;
  width: 100%;
  max-height: 36px;
}
.header__nav .nav__logo img {
  width: 100%;
  height: 100%;
}
.header__nav .nav__list {
  display: flex;
  align-items: center;
  list-style: none;
  max-width: 606px;
  width: 100%;
  justify-content: space-between;
  min-height: 32px;
  margin: 0;
  padding: 0;
}
.header__nav .nav__list__item__link {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 132.9%;
  /* identical to box height, or 27px */
  letter-spacing: 0.05em;
  color: #ffffff;
  text-decoration: none;
}
.header__nav .nav__list__item__link::after {
  display: block;
  content: "";
  width: 100%;
  height: 3px;
  margin-top: 2px;
}
.header__nav .nav__list__item__active {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 132.9%;
  /* identical to box height, or 27px */
  letter-spacing: 0.05em;
  color: #ffffff;
  position: relative;
}
.header__nav .nav__list__item__active::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 3px;
  background: white;
  margin-top: 2px;
}
.header__nav .nav__icons {
  max-width: 196px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 27px;
}
.header__nav .nav__icons__btn {
  background: transparent;
  border: none;
}
.header .header__modal {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 11;
  background: #ffffff;
}
.header .header__modal__cloce {
  padding: 30px 0;
}
.header .header__modal__cloce img {
  position: absolute;
  cursor: pointer;
  top: 30px;
  left: 47%;
  transform: translate(-50%, -50%);
}
.header .header__modal__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 93vh;
  padding-bottom: 155px;
}
.header .header__modal__wrapper__links {
  max-width: 260px;
  width: 100%;
  height: 506px;
}
.header .header__modal__wrapper__links__content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.header .header__modal__wrapper__links__content__item__link {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 82px;
  /* identical to box height */
  color: #000000;
  text-decoration: none;
}
.header .header__modal__wrapper__little-links {
  max-width: 118px;
  width: 100%;
  height: 262px;
}
.header .header__modal__wrapper__little-links__content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.header .header__modal__wrapper__little-links__content__item__link {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #000000;
  text-decoration: none;
}
.header .header__modal__wrapper__a-little-links {
  max-width: 129px;
  width: 100%;
  height: 121px;
}
.header .header__modal__wrapper__a-little-links__content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.header .header__modal__wrapper__a-little-links__content__item__link {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #000000;
  text-decoration: none;
}

.nav__list__menu {
  display: none;
}
.nav__list__menu__button {
  background: transparent;
  border: none;
}
.nav__list__menu__button img {
  background: transparent;
  background-position: center;
  background-size: contain;
}

@media only screen and (max-width: 1024px) {
  .header {
    background: transparent;
    position: absolute;
    top: 0;
    z-index: 111234;
    left: 0;
    right: 0;
  }
  .header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 88px;
  }
  .header__nav .nav__logo {
    max-width: 144px;
    width: 100%;
    max-height: 36px;
  }
  .header__nav .nav__list {
    display: flex;
    align-items: center;
    list-style: none;
    max-width: 606px;
    width: 100%;
    justify-content: space-between;
    min-height: 32px;
    margin: 0;
    padding: 0;
  }
  .header__nav .nav__list__item__link {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 132.9%;
    /* identical to box height, or 27px */
    letter-spacing: 0.05em;
    color: #ffffff;
    text-decoration: none;
  }
  .header__nav .nav__list__item__link::after {
    display: block;
    content: "";
    width: 100%;
    height: 3px;
    margin-top: 2px;
  }
  .header__nav .nav__list__item__active {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 132.9%;
    /* identical to box height, or 27px */
    letter-spacing: 0.05em;
    color: #ffffff;
    position: relative;
  }
  .header__nav .nav__list__item__active::after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 3px;
    background: white;
    margin-top: 2px;
  }
  .header__nav .nav__icons {
    max-width: 196px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 27px;
  }
  .header__nav .nav__icons__btn {
    background: transparent;
    border: none;
  }
  .header .header__modal {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: 11;
    transition: all 0.5s ease;
    background: #ffffff;
  }
  .header .header__modal__cloce {
    padding: 30px 0;
  }
  .header .header__modal__cloce img {
    position: absolute;
    cursor: pointer;
    top: 30px;
    left: 47%;
    transform: translate(-50%, -50%);
  }
  .header .header__modal__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 93vh;
    padding-bottom: 155px;
  }
  .header .header__modal__wrapper__links {
    max-width: 260px;
    width: 100%;
    height: 506px;
  }
  .header .header__modal__wrapper__links__content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .header .header__modal__wrapper__links__content__item__link {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 82px;
    /* identical to box height */
    color: #000000;
    text-decoration: none;
  }
  .header .header__modal__wrapper__little-links {
    max-width: 118px;
    width: 100%;
    height: 262px;
  }
  .header .header__modal__wrapper__little-links__content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .header .header__modal__wrapper__little-links__content__item__link {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
    text-decoration: none;
  }
  .header .header__modal__wrapper__a-little-links {
    max-width: 129px;
    width: 100%;
    height: 121px;
  }
  .header .header__modal__wrapper__a-little-links__content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .header .header__modal__wrapper__a-little-links__content__item__link {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
    text-decoration: none;
  }
  .media__width__992 {
    display: none !important;
  }
  .nav__list__menu {
    display: block;
  }
}
@media only screen and (max-width: 768px) {
  .header {
    background: transparent;
    position: absolute;
    top: 0;
    z-index: 111;
    left: 0;
    right: 0;
  }
  .header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 88px;
  }
  .header__nav .nav__logo {
    max-width: 144px;
    width: 100%;
    max-height: 36px;
  }
  .header__nav .nav__list {
    display: flex;
    align-items: center;
    list-style: none;
    max-width: 606px;
    width: 100%;
    justify-content: space-between;
    min-height: 32px;
    margin: 0;
    padding: 0;
  }
  .header__nav .nav__list__item__link {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 132.9%;
    /* identical to box height, or 27px */
    letter-spacing: 0.05em;
    color: #ffffff;
    text-decoration: none;
  }
  .header__nav .nav__list__item__link::after {
    display: block;
    content: "";
    width: 100%;
    height: 3px;
    margin-top: 2px;
  }
  .header__nav .nav__list__item__active {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 132.9%;
    /* identical to box height, or 27px */
    letter-spacing: 0.05em;
    color: #ffffff;
    position: relative;
  }
  .header__nav .nav__list__item__active::after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 3px;
    background: white;
    margin-top: 2px;
  }
  .header__nav .nav__icons {
    max-width: 196px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 27px;
  }
  .header__nav .nav__icons__btn {
    background: transparent;
    border: none;
  }
  .header .header__modal {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: 11;
    background: #ffffff;
  }
  .header .header__modal__cloce {
    padding: 30px 0;
  }
  .header .header__modal__cloce img {
    position: absolute;
    cursor: pointer;
    top: 30px;
    left: 47%;
    transform: translate(-50%, -50%);
  }
  .header .header__modal__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 93vh;
    padding-bottom: 113px;
  }
  .header .header__modal__wrapper__links {
    max-width: 260px;
    width: 100%;
    height: 506px;
  }
  .header .header__modal__wrapper__links__content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .header .header__modal__wrapper__links__content__item__link {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 47px;
    line-height: 64px;
    /* identical to box height */
    color: #000000;
  }
  .header .header__modal__wrapper__little-links {
    max-width: 118px;
    width: 100%;
    height: 262px;
  }
  .header .header__modal__wrapper__little-links__content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .header .header__modal__wrapper__little-links__content__item__link {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
  }
  .header .header__modal__wrapper__a-little-links {
    max-width: 129px;
    width: 100%;
    height: 121px;
  }
  .header .header__modal__wrapper__a-little-links__content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .header .header__modal__wrapper__a-little-links__content__item__link {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
  }
  .media__width__992 {
    display: none !important;
  }
  .nav__list__menu {
    display: block;
  }
}
@media only screen and (max-width: 320px) {
  .nav__list__menu {
    display: block;
    order: -1;
  }
  .header {
    background: transparent;
    position: absolute;
    top: 0;
    z-index: 111;
    left: 0;
    right: 0;
  }
  .header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 88px;
  }
  .header__nav .nav__logo {
    max-width: 104px;
    width: 100%;
    max-height: 26px;
  }
  .header__nav .nav__list {
    display: flex;
    align-items: center;
    list-style: none;
    max-width: 606px;
    width: 100%;
    justify-content: space-between;
    min-height: 32px;
    order: 2;
    margin: 0;
    padding: 0;
  }
  .header__nav .nav__list__item__link {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 132.9%;
    /* identical to box height, or 27px */
    letter-spacing: 0.05em;
    color: #ffffff;
    text-decoration: none;
  }
  .header__nav .nav__list__item__link::after {
    display: block;
    content: "";
    width: 100%;
    height: 3px;
    margin-top: 2px;
  }
  .header__nav .nav__list__item__active {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 132.9%;
    /* identical to box height, or 27px */
    letter-spacing: 0.05em;
    color: #ffffff;
    position: relative;
  }
  .header__nav .nav__list__item__active::after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 3px;
    background: white;
    margin-top: 2px;
  }
  .header__nav .nav__icons {
    max-width: 87px;
    width: 100%;
    order: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 27px;
  }
  .header__nav .nav__icons a img {
    width: 21px;
  }
  .header .header__modal {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: 11;
    background: #ffffff;
  }
  .header .header__modal__cloce {
    padding: 30px 0;
  }
  .header .header__modal__cloce img {
    position: absolute;
    cursor: pointer;
    top: 30px;
    left: 47%;
    transform: translate(-50%, -50%);
  }
  .header .header__modal__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 93vh;
    padding-bottom: 113px;
  }
  .header .header__modal__wrapper__links {
    max-width: 260px;
    width: 100%;
    height: 506px;
  }
  .header .header__modal__wrapper__links__content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .header .header__modal__wrapper__links__content__item__link {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 41px;
    /* identical to box height */
    color: #000000;
  }
  .header .header__modal__wrapper__little-links {
    display: none;
    max-width: 118px;
    width: 100%;
    height: 262px;
  }
  .header .header__modal__wrapper__little-links__content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .header .header__modal__wrapper__little-links__content__item__link {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
    text-decoration: none;
  }
  .header .header__modal__wrapper__a-little-links {
    display: none;
    max-width: 129px;
    width: 100%;
    height: 121px;
  }
  .header .header__modal__wrapper__a-little-links__content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .header .header__modal__wrapper__a-little-links__content__item__link {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
    text-decoration: none;
  }
}
@font-face {
  font-family: "myFonts";
  src: url("../fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: "myFonts1";
  src: url("../fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: "play";
  src: url("../fonts/PlayfairDisplay-Regular.ttf");
}
@font-face {
  font-family: "open sans";
  src: url("../fonts/OpenSans-Regular.ttf");
}
.section {
  background: #E0EFF6;
  display: flex;
  justify-content: center;
  padding: 100px 0;
}
.section .benefits {
  display: flex;
  flex-direction: column;
}
.section .benefits__title {
  font-family: Playfair Display;
  font-size: 64px;
  font-weight: 700;
  line-height: 85px;
  letter-spacing: 0em;
  text-align: center;
  color: #07484A;
}
.section .benefits__cards {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: 114.16px auto;
}
.section .benefits__cards_card {
  color: #07484A;
  max-width: 314px;
  width: 100%;
  text-align: center;
}
.section .benefits__cards_card h3 {
  padding-top: 32px;
  font-family: Playfair Display;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0em;
}
.section .benefits__cards_card p {
  font-size: 24px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: center;
  padding: 5px;
}

@media (max-width: 768px) {
  .benefits {
    width: 100%;
  }
  .benefits__title {
    font-family: Playfair Display;
    font-size: 48px !important;
    font-weight: 700;
  }
  .benefits__cards {
    width: 100% !important;
  }
  .benefits__cards_card {
    max-width: 212px !important;
    width: 100%;
    border-radius: 30px;
  }
  .benefits__cards_card h3 {
    font-size: 24px !important;
  }
  .benefits__cards_card p {
    font-size: 18px !important;
  }
}
@media (max-width: 320px) {
  .benefits {
    width: 100%;
  }
  .benefits__title {
    font-family: Playfair Display;
    font-size: 28px !important;
    font-weight: 700;
    text-align: center;
  }
  .benefits__cards {
    width: 100% !important;
    flex-direction: column;
    align-items: center;
  }
  .benefits__cards_card {
    max-width: 212px !important;
    width: 100%;
    border-radius: 30px;
    margin-top: 60px;
  }
  .benefits__cards_card h3 {
    font-size: 24px !important;
  }
  .benefits__cards_card p {
    font-size: 18px !important;
  }
}
.hero {
  position: relative;
  height: 100vh;
}
.hero__bg {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: -134232;
  background-image: url("../../images/header.png");
}
.hero__title {
  display: none;
}
.hero .hero__text {
  height: 100vh;
  max-width: 668px;
  position: absolute;
  z-index: -1;
  width: 100%;
  padding-top: 333.97px;
  background: transparent;
  border-radius: 0px;
}
.hero .hero__text h2 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 85px;
  color: #07484a;
}
.hero .hero__text p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  margin-top: 54px;
  color: #07484a;
}
.hero .hero__text .hero__text__wrapper__shop {
  background: #70908b;
  border-radius: 10px;
  margin-top: 54px;
  padding: 20px 54.5px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  border: transparent;
  /* identical to box height */
  cursor: pointer;
  color: #fdfbf8;
}

@media only screen and (max-width: 768px) {
  .hero {
    position: relative;
    height: 100vh;
  }
  .hero__bg {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: -1;
    background-image: url("../../images/header.png");
  }
  .hero__title {
    display: none;
  }
  .hero .hero__text {
    height: 100vh;
    max-width: 668px;
    position: absolute;
    width: 100%;
    padding-top: 333.97px;
    z-index: 1;
    background: transparent;
    border-radius: 0px;
  }
  .hero .hero__text h2 {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 62px;
    /* or 129% */
    color: #07484a;
  }
  .hero .hero__text p {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    color: #07484a;
  }
  .hero .hero__text .hero__text__wrapper__shop {
    background: #70908b;
    border-radius: 10px;
    margin-top: 54px;
    padding: 16px 40px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    border: transparent;
    /* identical to box height */
    cursor: pointer;
    color: #fdfbf8;
  }
}
@media only screen and (max-width: 320px) {
  .hero {
    position: relative;
    height: 100vh;
  }
  .hero__bg {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: -1;
    background-image: url("../../images/header.png");
  }
  .hero__title {
    display: none;
  }
  .hero .hero__text {
    height: 100vh;
    max-width: 668px;
    position: absolute;
    width: 100%;
    text-align: center;
    padding-top: 333.97px;
    z-index: 1;
    background: transparent;
    border-radius: 0px;
  }
  .hero .hero__text h2 {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 52px;
    /* or 144% */
    text-align: center;
    color: #07484a;
  }
  .hero .hero__text p {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    /* or 128% */
    text-align: center;
    color: #07484a;
  }
  .hero .hero__text .hero__text__wrapper__shop {
    background: #70908b;
    border-radius: 10px;
    margin-top: 54px;
    padding: 16px 40px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    border: transparent;
    /* identical to box height */
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    color: #fdfbf8;
  }
}
@font-face {
  font-family: "myFonts";
  src: url("../fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: "myFonts1";
  src: url("../fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: "play";
  src: url("../fonts/PlayfairDisplay-Regular.ttf");
}
@font-face {
  font-family: "open sans";
  src: url("../fonts/OpenSans-Regular.ttf");
}
.newslatter {
  display: flex;
  height: 100%;
}
.newslatter__box {
  width: 50%;
  background-image: url("../../images2/newslatter.jpg");
  background-repeat: no-repeat !important;
  background-size: cover;
  background-position: center;
}
.newslatter__box2 {
  background: #E0F6F1;
  width: 50%;
  color: #07484A;
  display: flex;
  justify-content: center;
  align-items: center;
}
.newslatter__box2_wrap h3 {
  font-family: Playfair Display;
  font-size: 64px;
  font-weight: 400;
  line-height: 85px;
  letter-spacing: 0.05em;
  text-align: left;
}
.newslatter__box2_wrap p {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  padding-top: 25px;
}
.newslatter__box2_wrap_newsletterInput {
  max-width: 470px;
  width: 100%;
  border: none;
  outline: none;
  padding: 14px;
  margin-top: 40px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #C4C4C4;
  background: transparent;
}
.newslatter__box2_wrap button {
  padding: 20px 71.5px;
  color: white;
  border: none;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  background: #70908B;
  border-radius: 6px;
  margin-top: 40px;
}

@media (max-width: 1024px) {
  .newslatter {
    display: flex;
  }
  .newslatter__box {
    width: 50%;
    background-image: url("../../images2/newslatter2.jpg");
    background-repeat: no-repeat;
    background-size: auto;
  }
  .newslatter__box img {
    width: 100%;
  }
  .newslatter__box2 {
    background: #E0F6F1;
    width: 50%;
    color: #07484A;
    padding: 109px 40px;
  }
  .newslatter__box2_wrap h3 {
    font-family: Playfair Display;
    font-size: 48px;
    font-weight: 400;
    line-height: 62px;
    letter-spacing: 0.05em;
    text-align: left;
  }
  .newslatter__box2_wrap p {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
  }
  .newslatter__box2_wrap_newsletterInput {
    max-width: 470px;
    border: none;
    border-bottom: 2px solid black !important;
    width: 100%;
    outline: none;
    padding: 14px;
    margin-top: 40px;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #C4C4C4;
  }
  .newslatter__box2_wrap button {
    padding: 20px 71.5px;
    color: white;
    border: none;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    background: #70908B;
    border-radius: 6px;
    margin-top: 40px;
  }
}
@media (max-width: 768px) {
  .newslatter {
    display: flex;
    flex-direction: column !important;
  }
  .newslatter__box {
    width: 100%;
    background-image: url("../../images2/newslatter2.jpg");
    background-repeat: no-repeat;
    background-size: auto;
  }
  .newslatter__box img {
    width: 100%;
  }
  .newslatter__box2 {
    background: #E0F6F1;
    width: 100%;
    color: #07484A;
  }
  .newslatter__box2_wrap h3 {
    font-family: Playfair Display;
    font-size: 48px;
    font-weight: 400;
    line-height: 62px;
    letter-spacing: 0.05em;
    text-align: left;
  }
  .newslatter__box2_wrap p {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
  }
  .newslatter__box2_wrap_newsletterInput {
    max-width: 688px !important;
    width: 100%;
    outline: none;
    padding: 14px;
    margin-top: 40px;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #C4C4C4;
  }
  .newslatter__box2_wrap button {
    padding: 20px 71.5px;
    color: white;
    border: none;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    background: #70908B;
    border-radius: 6px;
    margin-top: 40px;
  }
}
@media (max-width: 320px) {
  .newslatter {
    display: flex;
    flex-direction: column !important;
  }
  .newslatter__box {
    width: 100%;
    background-image: url("../../images2/newslatter2.jpg");
    background-repeat: no-repeat;
    background-size: auto;
  }
  .newslatter__box img {
    width: 100%;
  }
  .newslatter__box2 {
    background: #E0F6F1;
    width: 100%;
    color: #07484A;
  }
  .newslatter__box2_wrap h3 {
    font-family: Playfair Display;
    font-size: 36px;
    font-weight: 400;
    line-height: 62px;
    letter-spacing: 0.05em;
    text-align: center;
  }
  .newslatter__box2_wrap p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 23px;
    text-align: center;
  }
  .newslatter__box2_wrap_newsletterInput {
    max-width: 688px !important;
    width: 100%;
    outline: none;
    padding: 14px;
    margin-top: 40px;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    color: #C4C4C4;
  }
  .newslatter__box2_wrap button {
    padding: 20px 71.5px;
    color: white;
    border: none;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    background: #70908B;
    border-radius: 6px;
    margin-top: 40px;
  }
}
.creation__Wrapper {
  padding: 100px 0px;
  align-items: center !important;
  display: flex;
  justify-content: space-between;
}
.creation__Wrapper_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 477px;
  width: 100%;
  background: #70908B;
  padding: 130px 0px;
  border-radius: 0px 16px 16px 0px;
  margin-right: 32px;
}
.creation__Wrapper_box_text_more {
  display: flex;
  align-items: center;
  margin-top: 50px;
  width: 100%;
  justify-content: space-between;
}
.creation__Wrapper_box_text_more p {
  margin-top: -12px !important;
}
.creation__Wrapper_box_text_more_line {
  width: 100px;
  height: 2px;
  background-color: black;
}
.creation__Wrapper_box_text h3 {
  font-family: Playfair Display;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0em;
  color: #FDFBF8;
}
.creation__Wrapper_box_text p {
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0em;
  color: #FDFBF8;
  margin-top: 32px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-btn {
  position: absolute;
  padding: 20px 24px;
  border: none;
  font-size: 18px;
  border-radius: 6px;
  bottom: 40px;
  display: none;
}

.swiper-slide:hover .swiper-btn {
  display: block;
}

/* The Modal (background) */
.modalWindow {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background: rgba(255, 255, 255, 0.5);
  z-index: 1111111 !important;
}

/* Modal Content */
.modal-content {
  margin: auto;
  padding: 20px;
  width: 80%;
}

.formRegister {
  height: 594px;
  max-width: 966px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  background: #ffffff;
  border-radius: 40px;
  padding: 50px 40px 40px 40px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.formRegister .formRegister__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.formRegister .formRegister__title h2 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  /* identical to box height */
  color: #000000;
}
.formRegister .formRegister__title span {
  background: #f5f5f5;
  width: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 54px;
  border-radius: 50%;
}
.formRegister .formRegister__inputWrapper {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  padding: 41px 68px;
  display: flex;
  align-items: center;
}
.formRegister .formRegister__inputWrapper img {
  position: relative;
  top: -3px;
}
.formRegister .formRegister__inputWrapper input {
  padding: 0px 35px;
  border: none;
  outline: none;
  background: transparent;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  /* identical to box height */
  color: #000000;
}
.formRegister .formRegister__inputWrapper input::placeholder {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  /* identical to box height */
  color: #000000;
}
.formRegister .btnSubmit {
  padding: 41px 0;
  background: #70908b;
  border-radius: 30px;
  border: none;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  /* identical to box height */
  color: #ffffff;
  cursor: pointer;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@font-face {
  font-family: "myFonts";
  src: url("../fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: "myFonts1";
  src: url("../fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: "play";
  src: url("../fonts/PlayfairDisplay-Regular.ttf");
}
@font-face {
  font-family: "open sans";
  src: url("../fonts/OpenSans-Regular.ttf");
}
.footer {
  padding: 100px 0px 32px 0px;
}
.footer__text {
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: #07484A;
  padding-top: 69px;
}
.footer .footerWrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer .footerWrap__uls {
  display: flex;
  width: 80%;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer .footerWrap__box1_firstLi {
  margin-top: 20px;
}
.footer .footerWrap__box1_firstLi_nets {
  display: flex;
  gap: 36px;
}
.footer .footerWrap__box1_firstLi_nets i {
  font-size: 25px;
  color: #07484A;
}
.footer .footerWrap__box2 {
  width: 20%;
}
.footer .footerWrap ul {
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: #07484A;
}
.footer .footerWrap ul li a {
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: #07484A;
  text-decoration: none;
  line-height: 42px;
}

@media (max-width: 1024px) {
  .footer .footerWrap__box2 {
    width: 30%;
  }
  .footer .footerWrap__uls {
    width: 70%;
  }
}
@media (max-width: 768px) {
  .footer {
    padding: 40px;
  }
  .footer .footerWrap {
    flex-direction: column;
  }
  .footer .footerWrap__uls {
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
  .footer .footerWrap__uls ul {
    width: 50% !important;
    margin-top: 40px;
  }
}
@media (max-width: 320px) {
  .address {
    width: 190px;
  }
  .footer {
    padding: 10px;
  }
  .footer__text {
    text-align: center;
  }
  .footer .footerWrap {
    flex-direction: column;
  }
  .footer .footerWrap__uls {
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
  .footer .footerWrap__uls ul {
    width: 50%;
    margin-top: 40px;
  }
  .footer .footerWrap__uls ul li a {
    font-size: 14px !important;
  }
}/*# sourceMappingURL=main.css.map */