@font-face {
  font-family: "myFonts";
  src: url("../fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: "myFonts1";
  src: url("../fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: "play";
  src: url("../fonts/PlayfairDisplay-Regular.ttf");
}
@font-face {
  font-family: "open sans";
  src: url("../fonts/OpenSans-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.container {
  margin: 0 auto;
  max-width: 1619px !important;
  width: 100% !important;
}

.dark-mode {
  background-color: #333333;
  color: #ffffff;
}

.dark-href {
  color: #ffffff;
}

/* The Modal (background) */
.modalWindow {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.input-valid {
  border: 1px solid green;
}

.input-field {
  border: 1px solid red;
}

@media only screen and (max-width: 1024px) {
  .container {
    margin: 0 auto;
    max-width: 996px !important;
    width: 100% !important;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    margin: 0 auto;
    max-width: 728px !important;
    width: 100% !important;
  }
}
@media only screen and (max-width: 320px) {
  .container {
    margin: 0 auto;
    max-width: 288px !important;
    width: 100% !important;
  }
}
.header {
  background: transparent;
  position: absolute;
  top: 0;
  z-index: 111;
  left: 0;
  right: 0;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 88px;
}
.header__nav .nav__logo {
  max-width: 144px;
  width: 100%;
  max-height: 36px;
}
.header__nav .nav__list {
  display: flex;
  align-items: center;
  list-style: none;
  max-width: 606px;
  width: 100%;
  justify-content: space-between;
  min-height: 32px;
  margin: 0;
  padding: 0;
}
.header__nav .nav__list__item__link {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 132.9%;
  /* identical to box height, or 27px */
  letter-spacing: 0.05em;
  color: #ffffff;
  text-decoration: none;
}
.header__nav .nav__list__item__link::after {
  display: block;
  content: "";
  width: 100%;
  height: 3px;
  margin-top: 2px;
}
.header__nav .nav__list__item__active {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 132.9%;
  /* identical to box height, or 27px */
  letter-spacing: 0.05em;
  color: #ffffff;
  position: relative;
}
.header__nav .nav__list__item__active::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 3px;
  background: white;
  margin-top: 2px;
}
.header__nav .nav__icons {
  max-width: 196px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 27px;
}
.header__nav .nav__icons__btn {
  background: transparent;
  border: none;
}

@media only screen and (max-width: 992px) {
  .media__width__992 {
    display: none !important;
  }
}
@font-face {
  font-family: "myFonts";
  src: url("../fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: "myFonts1";
  src: url("../fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: "play";
  src: url("../fonts/PlayfairDisplay-Regular.ttf");
}
@font-face {
  font-family: "open sans";
  src: url("../fonts/OpenSans-Regular.ttf");
}
.section {
  background: #E0EFF6;
  display: flex;
  justify-content: center;
  padding: 100px 0;
}
.section .benefits {
  display: flex;
  flex-direction: column;
}
.section .benefits__title {
  font-family: Playfair Display;
  font-size: 64px;
  font-weight: 700;
  line-height: 85px;
  letter-spacing: 0em;
  text-align: center;
  color: #07484A;
}
.section .benefits__cards {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: 114.16px auto;
}
.section .benefits__cards_card {
  color: #07484A;
  max-width: 314px;
  width: 100%;
  text-align: center;
}
.section .benefits__cards_card h3 {
  padding-top: 32px;
  font-family: Playfair Display;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0em;
}
.section .benefits__cards_card p {
  font-size: 24px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: center;
  padding: 5px;
}

@media (max-width: 768px) {
  .benefits {
    width: 100%;
  }
  .benefits__title {
    font-family: Playfair Display;
    font-size: 48px !important;
    font-weight: 700;
  }
  .benefits__cards {
    width: 100% !important;
  }
  .benefits__cards_card {
    max-width: 212px !important;
    width: 100%;
    border-radius: 30px;
  }
  .benefits__cards_card h3 {
    font-size: 24px !important;
  }
  .benefits__cards_card p {
    font-size: 18px !important;
  }
}
@media (max-width: 320px) {
  .benefits {
    width: 100%;
  }
  .benefits__title {
    font-family: Playfair Display;
    font-size: 28px !important;
    font-weight: 700;
    text-align: center;
  }
  .benefits__cards {
    width: 100% !important;
    flex-direction: column;
    align-items: center;
  }
  .benefits__cards_card {
    max-width: 212px !important;
    width: 100%;
    border-radius: 30px;
    margin-top: 60px;
  }
  .benefits__cards_card h3 {
    font-size: 24px !important;
  }
  .benefits__cards_card p {
    font-size: 18px !important;
  }
}
.hero {
  position: relative;
  height: 100vh;
}
.hero__bg {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: -1;
  background-image: url("../../images/header.png");
}
.hero .hero__title {
  display: none;
}

@font-face {
  font-family: "myFonts";
  src: url("../fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: "myFonts1";
  src: url("../fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: "play";
  src: url("../fonts/PlayfairDisplay-Regular.ttf");
}
@font-face {
  font-family: "open sans";
  src: url("../fonts/OpenSans-Regular.ttf");
}
.newslatter {
  display: flex;
  height: 100%;
}
.newslatter__box {
  width: 50%;
  background-image: url("../../images2/newslatter.jpg");
  background-repeat: no-repeat !important;
  background-size: cover;
  background-position: center;
}
.newslatter__box2 {
  background: #E0F6F1;
  width: 50%;
  color: #07484A;
  display: flex;
  justify-content: center;
  align-items: center;
}
.newslatter__box2_wrap h3 {
  font-family: Playfair Display;
  font-size: 64px;
  font-weight: 400;
  line-height: 85px;
  letter-spacing: 0.05em;
  text-align: left;
}
.newslatter__box2_wrap p {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  padding-top: 25px;
}
.newslatter__box2_wrap_newsletterInput {
  max-width: 470px;
  width: 100%;
  border: none;
  outline: none;
  padding: 14px;
  margin-top: 40px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #C4C4C4;
  background: transparent;
}
.newslatter__box2_wrap button {
  padding: 20px 71.5px;
  color: white;
  border: none;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  background: #70908B;
  border-radius: 6px;
  margin-top: 40px;
}

@media (max-width: 1024px) {
  .newslatter {
    display: flex;
  }
  .newslatter__box {
    width: 50%;
    background-image: url("../../images2/newslatter2.jpg");
    background-repeat: no-repeat;
    background-size: auto;
  }
  .newslatter__box img {
    width: 100%;
  }
  .newslatter__box2 {
    background: #E0F6F1;
    width: 50%;
    color: #07484A;
    padding: 109px 40px;
  }
  .newslatter__box2_wrap h3 {
    font-family: Playfair Display;
    font-size: 48px;
    font-weight: 400;
    line-height: 62px;
    letter-spacing: 0.05em;
    text-align: left;
  }
  .newslatter__box2_wrap p {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
  }
  .newslatter__box2_wrap_newsletterInput {
    max-width: 470px;
    border: none;
    border-bottom: 2px solid black !important;
    width: 100%;
    outline: none;
    padding: 14px;
    margin-top: 40px;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #C4C4C4;
  }
  .newslatter__box2_wrap button {
    padding: 20px 71.5px;
    color: white;
    border: none;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    background: #70908B;
    border-radius: 6px;
    margin-top: 40px;
  }
}
@media (max-width: 768px) {
  .newslatter {
    display: flex;
    flex-direction: column !important;
  }
  .newslatter__box {
    width: 100%;
    background-image: url("../../images2/newslatter2.jpg");
    background-repeat: no-repeat;
    background-size: auto;
  }
  .newslatter__box img {
    width: 100%;
  }
  .newslatter__box2 {
    background: #E0F6F1;
    width: 100%;
    color: #07484A;
  }
  .newslatter__box2_wrap h3 {
    font-family: Playfair Display;
    font-size: 48px;
    font-weight: 400;
    line-height: 62px;
    letter-spacing: 0.05em;
    text-align: left;
  }
  .newslatter__box2_wrap p {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
  }
  .newslatter__box2_wrap_newsletterInput {
    max-width: 688px !important;
    width: 100%;
    outline: none;
    padding: 14px;
    margin-top: 40px;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #C4C4C4;
  }
  .newslatter__box2_wrap button {
    padding: 20px 71.5px;
    color: white;
    border: none;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    background: #70908B;
    border-radius: 6px;
    margin-top: 40px;
  }
}
@media (max-width: 320px) {
  .newslatter {
    display: flex;
    flex-direction: column !important;
  }
  .newslatter__box {
    width: 100%;
    background-image: url("../../images2/newslatter2.jpg");
    background-repeat: no-repeat;
    background-size: auto;
  }
  .newslatter__box img {
    width: 100%;
  }
  .newslatter__box2 {
    background: #E0F6F1;
    width: 100%;
    color: #07484A;
  }
  .newslatter__box2_wrap h3 {
    font-family: Playfair Display;
    font-size: 36px;
    font-weight: 400;
    line-height: 62px;
    letter-spacing: 0.05em;
    text-align: center;
  }
  .newslatter__box2_wrap p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 23px;
    text-align: center;
  }
  .newslatter__box2_wrap_newsletterInput {
    max-width: 688px !important;
    width: 100%;
    outline: none;
    padding: 14px;
    margin-top: 40px;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    color: #C4C4C4;
  }
  .newslatter__box2_wrap button {
    padding: 20px 71.5px;
    color: white;
    border: none;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    background: #70908B;
    border-radius: 6px;
    margin-top: 40px;
  }
}
@font-face {
  font-family: "myFonts";
  src: url("../fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: "myFonts1";
  src: url("../fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: "play";
  src: url("../fonts/PlayfairDisplay-Regular.ttf");
}
@font-face {
  font-family: "open sans";
  src: url("../fonts/OpenSans-Regular.ttf");
}
.footer {
  padding: 100px 0px 32px 0px;
}
.footer__text {
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: #07484A;
  padding-top: 69px;
}
.footer .footerWrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer .footerWrap__uls {
  display: flex;
  width: 80%;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer .footerWrap__box1_firstLi {
  margin-top: 20px;
}
.footer .footerWrap__box1_firstLi_nets {
  display: flex;
  gap: 36px;
}
.footer .footerWrap__box1_firstLi_nets i {
  font-size: 25px;
  color: #07484A;
}
.footer .footerWrap__box2 {
  width: 20%;
}
.footer .footerWrap ul {
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: #07484A;
}
.footer .footerWrap ul li a {
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: #07484A;
  text-decoration: none;
  line-height: 42px;
}

@media (max-width: 1024px) {
  .footer .footerWrap__box2 {
    width: 30%;
  }
  .footer .footerWrap__uls {
    width: 70%;
  }
}
@media (max-width: 768px) {
  .footer {
    padding: 40px;
  }
  .footer .footerWrap {
    flex-direction: column;
  }
  .footer .footerWrap__uls {
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
  .footer .footerWrap__uls ul {
    width: 50% !important;
    margin-top: 40px;
  }
}
@media (max-width: 320px) {
  .address {
    width: 190px;
  }
  .footer {
    padding: 10px;
  }
  .footer__text {
    text-align: center;
  }
  .footer .footerWrap {
    flex-direction: column;
  }
  .footer .footerWrap__uls {
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
  .footer .footerWrap__uls ul {
    width: 50%;
    margin-top: 40px;
  }
  .footer .footerWrap__uls ul li a {
    font-size: 14px !important;
  }
}/*# sourceMappingURL=main.css.map */