@font-face {
  font-family: "myFonts";
  src: url("../fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: "myFonts1";
  src: url("../fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: "play";
  src: url("../fonts/PlayfairDisplay-Regular.ttf");
}
@font-face {
  font-family: "open sans";
  src: url("../fonts/OpenSans-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  transition: all 0.1 ease;
}

body {
  overflow-x: hidden !important;
}

a {
  cursor: pointer;
}

.container {
  margin: 0 auto;
  max-width: 1619px !important;
  width: 100% !important;
  position: relative;
}

.dark-mode {
  background-color: #333333;
  color: #ffffff;
}

.dark-href {
  color: #ffffff;
}

.input-valid {
  border: 1px solid green;
}

.input-field {
  border: 1px solid red;
}

.d-block {
  display: block !important;
}

.d-none {
  display: none !important;
}

.d-none2 {
  transform: translateY(-1000px);
  z-index: 1222;
  background: #ffffff;
}

@media only screen and (max-width: 1024px) {
  .container {
    margin: 0 auto;
    max-width: 996px !important;
    width: 100% !important;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    margin: 0 auto;
    max-width: 728px !important;
    width: 100% !important;
  }
}
@media only screen and (max-width: 320px) {
  .container {
    margin: 0 auto;
    max-width: 288px !important;
    width: 100% !important;
  }
}
.header {
  background: transparent;
  position: absolute;
  top: 0;
  z-index: 111234;
  left: 0;
  right: 0;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 88px;
}
.header__nav .nav__logo {
  max-width: 144px;
  width: 100%;
  max-height: 36px;
}
.header__nav .nav__logo img {
  width: 100%;
  height: 100%;
}
.header__nav .nav__list {
  display: flex;
  align-items: center;
  list-style: none;
  max-width: 606px;
  width: 100%;
  justify-content: space-between;
  min-height: 32px;
  margin: 0;
  padding: 0;
}
.header__nav .nav__list__item__link {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 132.9%;
  /* identical to box height, or 27px */
  letter-spacing: 0.05em;
  color: #ffffff;
  text-decoration: none;
}
.header__nav .nav__list__item__link::after {
  display: block;
  content: "";
  width: 100%;
  height: 3px;
  margin-top: 2px;
}
.header__nav .nav__list__item__active {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 132.9%;
  /* identical to box height, or 27px */
  letter-spacing: 0.05em;
  color: #ffffff;
  position: relative;
}
.header__nav .nav__list__item__active::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 3px;
  background: white;
  margin-top: 2px;
}
.header__nav .nav__icons {
  max-width: 196px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 27px;
}
.header__nav .nav__icons__btn {
  background: transparent;
  border: none;
}
.header .header__modal {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 11;
  background: #ffffff;
}
.header .header__modal__cloce {
  padding: 30px 0;
}
.header .header__modal__cloce img {
  position: absolute;
  cursor: pointer;
  top: 30px;
  left: 47%;
  transform: translate(-50%, -50%);
}
.header .header__modal__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 93vh;
  padding-bottom: 155px;
}
.header .header__modal__wrapper__links {
  max-width: 260px;
  width: 100%;
  height: 506px;
}
.header .header__modal__wrapper__links__content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.header .header__modal__wrapper__links__content__item__link {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 82px;
  /* identical to box height */
  color: #000000;
  text-decoration: none;
}
.header .header__modal__wrapper__little-links {
  max-width: 118px;
  width: 100%;
  height: 262px;
}
.header .header__modal__wrapper__little-links__content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.header .header__modal__wrapper__little-links__content__item__link {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #000000;
  text-decoration: none;
}
.header .header__modal__wrapper__a-little-links {
  max-width: 129px;
  width: 100%;
  height: 121px;
}
.header .header__modal__wrapper__a-little-links__content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.header .header__modal__wrapper__a-little-links__content__item__link {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #000000;
  text-decoration: none;
}

.nav__list__menu {
  display: none;
}
.nav__list__menu__button {
  background: transparent;
  border: none;
}
.nav__list__menu__button img {
  background: transparent;
  background-position: center;
  background-size: contain;
}

@media only screen and (max-width: 1024px) {
  .header {
    background: transparent;
    position: absolute;
    top: 0;
    z-index: 111234;
    left: 0;
    right: 0;
  }
  .header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 88px;
  }
  .header__nav .nav__logo {
    max-width: 144px;
    width: 100%;
    max-height: 36px;
  }
  .header__nav .nav__list {
    display: flex;
    align-items: center;
    list-style: none;
    max-width: 606px;
    width: 100%;
    justify-content: space-between;
    min-height: 32px;
    margin: 0;
    padding: 0;
  }
  .header__nav .nav__list__item__link {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 132.9%;
    /* identical to box height, or 27px */
    letter-spacing: 0.05em;
    color: #ffffff;
    text-decoration: none;
  }
  .header__nav .nav__list__item__link::after {
    display: block;
    content: "";
    width: 100%;
    height: 3px;
    margin-top: 2px;
  }
  .header__nav .nav__list__item__active {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 132.9%;
    /* identical to box height, or 27px */
    letter-spacing: 0.05em;
    color: #ffffff;
    position: relative;
  }
  .header__nav .nav__list__item__active::after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 3px;
    background: white;
    margin-top: 2px;
  }
  .header__nav .nav__icons {
    max-width: 196px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 27px;
  }
  .header__nav .nav__icons__btn {
    background: transparent;
    border: none;
  }
  .header .header__modal {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: 11;
    transition: all 0.5s ease;
    background: #ffffff;
  }
  .header .header__modal__cloce {
    padding: 30px 0;
  }
  .header .header__modal__cloce img {
    position: absolute;
    cursor: pointer;
    top: 30px;
    left: 47%;
    transform: translate(-50%, -50%);
  }
  .header .header__modal__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 93vh;
    padding-bottom: 155px;
  }
  .header .header__modal__wrapper__links {
    max-width: 260px;
    width: 100%;
    height: 506px;
  }
  .header .header__modal__wrapper__links__content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .header .header__modal__wrapper__links__content__item__link {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 82px;
    /* identical to box height */
    color: #000000;
    text-decoration: none;
  }
  .header .header__modal__wrapper__little-links {
    max-width: 118px;
    width: 100%;
    height: 262px;
  }
  .header .header__modal__wrapper__little-links__content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .header .header__modal__wrapper__little-links__content__item__link {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
    text-decoration: none;
  }
  .header .header__modal__wrapper__a-little-links {
    max-width: 129px;
    width: 100%;
    height: 121px;
  }
  .header .header__modal__wrapper__a-little-links__content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .header .header__modal__wrapper__a-little-links__content__item__link {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
    text-decoration: none;
  }
  .media__width__992 {
    display: none !important;
  }
  .nav__list__menu {
    display: block;
  }
}
@media only screen and (max-width: 768px) {
  .header {
    background: transparent;
    position: absolute;
    top: 0;
    z-index: 111;
    left: 0;
    right: 0;
  }
  .header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 88px;
  }
  .header__nav .nav__logo {
    max-width: 144px;
    width: 100%;
    max-height: 36px;
  }
  .header__nav .nav__list {
    display: flex;
    align-items: center;
    list-style: none;
    max-width: 606px;
    width: 100%;
    justify-content: space-between;
    min-height: 32px;
    margin: 0;
    padding: 0;
  }
  .header__nav .nav__list__item__link {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 132.9%;
    /* identical to box height, or 27px */
    letter-spacing: 0.05em;
    color: #ffffff;
    text-decoration: none;
  }
  .header__nav .nav__list__item__link::after {
    display: block;
    content: "";
    width: 100%;
    height: 3px;
    margin-top: 2px;
  }
  .header__nav .nav__list__item__active {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 132.9%;
    /* identical to box height, or 27px */
    letter-spacing: 0.05em;
    color: #ffffff;
    position: relative;
  }
  .header__nav .nav__list__item__active::after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 3px;
    background: white;
    margin-top: 2px;
  }
  .header__nav .nav__icons {
    max-width: 196px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 27px;
  }
  .header__nav .nav__icons__btn {
    background: transparent;
    border: none;
  }
  .header .header__modal {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: 11;
    background: #ffffff;
  }
  .header .header__modal__cloce {
    padding: 30px 0;
  }
  .header .header__modal__cloce img {
    position: absolute;
    cursor: pointer;
    top: 30px;
    left: 47%;
    transform: translate(-50%, -50%);
  }
  .header .header__modal__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 93vh;
    padding-bottom: 113px;
  }
  .header .header__modal__wrapper__links {
    max-width: 260px;
    width: 100%;
    height: 506px;
  }
  .header .header__modal__wrapper__links__content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .header .header__modal__wrapper__links__content__item__link {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 47px;
    line-height: 64px;
    /* identical to box height */
    color: #000000;
  }
  .header .header__modal__wrapper__little-links {
    max-width: 118px;
    width: 100%;
    height: 262px;
  }
  .header .header__modal__wrapper__little-links__content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .header .header__modal__wrapper__little-links__content__item__link {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
  }
  .header .header__modal__wrapper__a-little-links {
    max-width: 129px;
    width: 100%;
    height: 121px;
  }
  .header .header__modal__wrapper__a-little-links__content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .header .header__modal__wrapper__a-little-links__content__item__link {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
  }
  .media__width__992 {
    display: none !important;
  }
  .nav__list__menu {
    display: block;
  }
}
@media only screen and (max-width: 320px) {
  .nav__list__menu {
    display: block;
    order: -1;
  }
  .header {
    background: transparent;
    position: absolute;
    top: 0;
    z-index: 111;
    left: 0;
    right: 0;
  }
  .header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 88px;
  }
  .header__nav .nav__logo {
    max-width: 104px;
    width: 100%;
    max-height: 26px;
  }
  .header__nav .nav__list {
    display: flex;
    align-items: center;
    list-style: none;
    max-width: 606px;
    width: 100%;
    justify-content: space-between;
    min-height: 32px;
    order: 2;
    margin: 0;
    padding: 0;
  }
  .header__nav .nav__list__item__link {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 132.9%;
    /* identical to box height, or 27px */
    letter-spacing: 0.05em;
    color: #ffffff;
    text-decoration: none;
  }
  .header__nav .nav__list__item__link::after {
    display: block;
    content: "";
    width: 100%;
    height: 3px;
    margin-top: 2px;
  }
  .header__nav .nav__list__item__active {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 132.9%;
    /* identical to box height, or 27px */
    letter-spacing: 0.05em;
    color: #ffffff;
    position: relative;
  }
  .header__nav .nav__list__item__active::after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 3px;
    background: white;
    margin-top: 2px;
  }
  .header__nav .nav__icons {
    max-width: 87px;
    width: 100%;
    order: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 27px;
  }
  .header__nav .nav__icons a img {
    width: 21px;
  }
  .header .header__modal {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: 11;
    background: #ffffff;
  }
  .header .header__modal__cloce {
    padding: 30px 0;
  }
  .header .header__modal__cloce img {
    position: absolute;
    cursor: pointer;
    top: 30px;
    left: 47%;
    transform: translate(-50%, -50%);
  }
  .header .header__modal__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 93vh;
    padding-bottom: 113px;
  }
  .header .header__modal__wrapper__links {
    max-width: 260px;
    width: 100%;
    height: 506px;
  }
  .header .header__modal__wrapper__links__content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .header .header__modal__wrapper__links__content__item__link {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 41px;
    /* identical to box height */
    color: #000000;
  }
  .header .header__modal__wrapper__little-links {
    display: none;
    max-width: 118px;
    width: 100%;
    height: 262px;
  }
  .header .header__modal__wrapper__little-links__content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .header .header__modal__wrapper__little-links__content__item__link {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
    text-decoration: none;
  }
  .header .header__modal__wrapper__a-little-links {
    display: none;
    max-width: 129px;
    width: 100%;
    height: 121px;
  }
  .header .header__modal__wrapper__a-little-links__content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .header .header__modal__wrapper__a-little-links__content__item__link {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
    text-decoration: none;
  }
}
.hero {
  position: relative;
  height: 100vh;
}
.hero__bg {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: -134232;
  background-image: url("../../images/header.png");
}
.hero__title {
  display: none;
}
.hero .hero__text {
  height: 100vh;
  max-width: 668px;
  position: absolute;
  z-index: -1;
  width: 100%;
  padding-top: 333.97px;
  background: transparent;
  border-radius: 0px;
}
.hero .hero__text h2 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 85px;
  color: #07484a;
}
.hero .hero__text p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  margin-top: 54px;
  color: #07484a;
}
.hero .hero__text .hero__text__wrapper__shop {
  background: #70908b;
  border-radius: 10px;
  margin-top: 54px;
  padding: 20px 54.5px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  border: transparent;
  /* identical to box height */
  cursor: pointer;
  color: #fdfbf8;
}

@media only screen and (max-width: 768px) {
  .hero {
    position: relative;
    height: 100vh;
  }
  .hero__bg {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: -1;
    background-image: url("../../images/header.png");
  }
  .hero__title {
    display: none;
  }
  .hero .hero__text {
    height: 100vh;
    max-width: 668px;
    position: absolute;
    width: 100%;
    padding-top: 333.97px;
    z-index: 1;
    background: transparent;
    border-radius: 0px;
  }
  .hero .hero__text h2 {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 62px;
    /* or 129% */
    color: #07484a;
  }
  .hero .hero__text p {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    color: #07484a;
  }
  .hero .hero__text .hero__text__wrapper__shop {
    background: #70908b;
    border-radius: 10px;
    margin-top: 54px;
    padding: 16px 40px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    border: transparent;
    /* identical to box height */
    cursor: pointer;
    color: #fdfbf8;
  }
}
@media only screen and (max-width: 320px) {
  .hero {
    position: relative;
    height: 100vh;
  }
  .hero__bg {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: -1;
    background-image: url("../../images/header.png");
  }
  .hero__title {
    display: none;
  }
  .hero .hero__text {
    height: 100vh;
    max-width: 668px;
    position: absolute;
    width: 100%;
    text-align: center;
    padding-top: 333.97px;
    z-index: 1;
    background: transparent;
    border-radius: 0px;
  }
  .hero .hero__text h2 {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 52px;
    /* or 144% */
    text-align: center;
    color: #07484a;
  }
  .hero .hero__text p {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    /* or 128% */
    text-align: center;
    color: #07484a;
  }
  .hero .hero__text .hero__text__wrapper__shop {
    background: #70908b;
    border-radius: 10px;
    margin-top: 54px;
    padding: 16px 40px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    border: transparent;
    /* identical to box height */
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    color: #fdfbf8;
  }
}
/* The Modal (background) */
.modalWindow {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background: rgba(255, 255, 255, 0.5);
  z-index: 1111111 !important;
}

/* Modal Content */
.modal-content {
  margin: auto;
  padding: 20px;
  width: 80%;
}

.formRegister {
  height: 594px;
  max-width: 966px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  background: #ffffff;
  border-radius: 40px;
  padding: 50px 40px 40px 40px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.formRegister .formRegister__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.formRegister .formRegister__title h2 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  /* identical to box height */
  color: #000000;
}
.formRegister .formRegister__title span {
  background: #f5f5f5;
  width: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 54px;
  border-radius: 50%;
}
.formRegister .formRegister__inputWrapper {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  padding: 41px 68px;
  display: flex;
  align-items: center;
}
.formRegister .formRegister__inputWrapper img {
  position: relative;
  top: -3px;
}
.formRegister .formRegister__inputWrapper input {
  padding: 0px 35px;
  border: none;
  outline: none;
  background: transparent;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  /* identical to box height */
  color: #000000;
}
.formRegister .formRegister__inputWrapper input::placeholder {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  /* identical to box height */
  color: #000000;
}
.formRegister .btnSubmit {
  padding: 41px 0;
  background: #70908b;
  border-radius: 30px;
  border: none;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  /* identical to box height */
  color: #ffffff;
  cursor: pointer;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */