* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  transition: all 0.1 ease;
}
body {
  overflow-x: hidden !important;
}
a {
  cursor: pointer;
}
.container {
  margin: 0 auto;
  max-width: 1619px !important;
  width: 100% !important;
  position: relative;
}

.dark-mode {
  background-color: #333333;
  color: #ffffff;
}
.dark-href {
  color: #ffffff;
}

.input-valid {
  border: 1px solid green;
}
.input-field {
  border: 1px solid red;
}
.d-block {
  display: block !important;
}
.d-none {
  display: none !important;
}
.d-none2 {
  transform: translateY(-1000px);
  z-index: 1222;
  background: #ffffff;
}
@media only screen and (max-width: 1024px) {
  .container {
    margin: 0 auto;
    max-width: 996px !important;
    width: 100% !important;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    margin: 0 auto;
    max-width: 728px !important;
    width: 100% !important;
  }
}
@media only screen and (max-width: 320px) {
  .container {
    margin: 0 auto;
    max-width: 288px !important;
    width: 100% !important;
  }
}
