.header {
  background: transparent;
  position: absolute;
  top: 0;
  z-index: 111;
  left: 0;
  right: 0;
  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 88px;
    .nav__logo {
      max-width: 144px;
      width: 100%;
      max-height: 36px;
    }
    .nav__list {
      display: flex;
      align-items: center;
      list-style: none;
      max-width: 606px;
      width: 100%;
      justify-content: space-between;
      min-height: 32px;
      margin: 0;
      padding: 0;
      &__item {
        &__link {
          font-family: 'Playfair Display';
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 132.9%;
          /* identical to box height, or 27px */

          letter-spacing: 0.05em;

          color: #ffffff;
          text-decoration: none;
          &:hover {
            font-family: 'Playfair Display';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 132.9%;
            /* identical to box height, or 27px */

            letter-spacing: 0.05em;

            color: #ffffff;
          }
        }
      }
    }
    .nav__icons {
      max-width: 196px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-height: 27px;
    }
  }
}
