@import "../vareble";
.section{
    background: #E0EFF6;
    display: flex;
    justify-content:center ;
    padding: 100px 0;

    .benefits{
        display: flex;
        flex-direction: column;
    // align-items: center !important;


        &__title{
            font-family: Playfair Display;
            font-size: 64px;
            font-weight: 700;
            line-height: 85px;
            letter-spacing: 0em;
            text-align: center;
            color: $benefestColor;
        }

        &__cards{
            display: flex;
            // gap: 10px;
            width: 80%;
            justify-content: space-between;
            margin:114.16px  auto;

            &_card{
                color: $benefestColor;
                // background-color: red;
                max-width: 314px;
                width: 100%;
                text-align: center;
                
                h3{
                    padding-top: 32px;
                    font-family: Playfair Display;
                    font-size: 36px;
                    font-weight: 700;
                    line-height: 48px;
                    letter-spacing: 0em;
                }

                p{
                    font-size: 24px;
                    font-weight: 400;
                    line-height: 33px;
                    letter-spacing: 0em;
                    text-align: center;
                    padding: 5px;

                }
            }
        }
    }
}
@media (max-width:768px){
    .benefits{
        width: 100%;


        &__title{
            font-family: Playfair Display;
            font-size: 48px !important;
            font-weight: 700;

        }
        &__cards{
            width: 100% !important;


            &_card{
                max-width: 212px !important;
                width: 100%;
                border-radius: 30px;

                h3{
                    font-size: 24px !important;
                }
                p{
                    font-size: 18px !important;
                }

            }
        }
    }
}
@media (max-width:320px) {
    .benefits {
        width: 100%;


        &__title {
          font-family: Playfair Display;
          font-size: 28px !important;
          font-weight: 700;
          text-align: center;


        }

        &__cards {
            width: 100% !important;
            flex-direction: column;
            align-items: center;


            &_card {
                max-width: 212px !important;
                width: 100%;
                border-radius: 30px;
                margin-top: 60px;

                h3 {
                    font-size: 24px !important;
                }

                p {
                    font-size: 18px !important;
                }

            }
        }
    }
}