.section-benefits{
    background: #E0EFF6;
    // padding: 100px;

    .benefits{
        display: flex;
        flex-direction: column;
        align-items: center;

        &__cards{
            display: flex;

            &_card{
                width: 281px;
                font-size: 24px;
                font-weight: 400;
                text-align: center;
            }
        }
    }
}