.special {
  &__container {
    padding-top: 100px;
    padding-bottom: 100px;
    &__title {
      font-family: 'Playfair Display';
      font-style: normal;
      font-weight: 700;
      font-size: 72px;
      line-height: 96px;
      /* identical to box height */
      text-align: center;
      color: #07484a;
      margin-bottom: 103px;
    }
    &__row {
      display: flex;
      justify-content: space-between;
      &__col {
        width: 45%;
        height: 768px;
        &__img {
          img {
            width: 100%;
            height: 100%;
          }
        }
        &__text {
          margin-top: 32px;
          position: relative;
          &__chuck {
            max-width: 347px;
            width: 100%;
            h2 {
              font-family: 'Open Sans';
              font-style: normal;
              font-weight: 400;
              font-size: 36px;
              line-height: 49px;
              /* identical to box height */

              color: #07484a;
            }
            &__star {
              display: flex;
              justify-content: space-between;
              max-width: 248px;
              margin-top: 28px;
            }
            &__price {
              margin-top: 28px;
              font-family: 'Open Sans';
              font-style: normal;
              font-weight: 700;
              font-size: 28px;
              line-height: 115%;
              /* or 32px */

              letter-spacing: -0.02em;

              color: #07484a;
            }
          }
          &__btn {
            height: 66px;
            position: absolute;
            right: 0;
            top: 0;
            width: 196px;
            border-radius: 10px;
            padding: 16px 24px 16px 24px;
            background: #70908b;
            display: flex;
            align-items: center;
            justify-content: center;
            border: transparent;
            span {
              font-family: 'Open Sans';
              font-style: normal;
              font-weight: 400;
              font-size: 18px;
              line-height: 25px;
              /* identical to box height */

              color: #fdfbf8;
            }
            .img {
              margin-left: 20px;
            }
          }
        }
        &__left {
          &__text {
            h3 {
              font-family: 'Open Sans';
              font-style: normal;
              font-weight: 700;
              font-size: 24px;
              line-height: 115%;
              /* or 28px */

              letter-spacing: -0.02em;

              color: #07484a;
            }
            p {
              margin-top: 24px;
              font-family: 'Open Sans';
              font-style: normal;
              font-weight: 400;
              font-size: 18px;
              line-height: 115%;
              /* or 21px */

              letter-spacing: -0.02em;

              color: #07484a;
            }
          }
          &__cards {
            margin-top: 25px;
            height: 600px;
            overflow-y: scroll;
            &__see {
              font-family: 'Open Sans';
              font-style: normal;
              font-weight: 600;
              font-size: 18px;
              line-height: 115%;
              /* identical to box height, or 21px */

              letter-spacing: -0.02em;

              color: #000000;
            }
            &__wrap {
                padding-top: 40px;
              &__card {
                display: flex;
                justify-content: space-between;
                margin-top: 24px;
                .as{
                  background: #e0f6f1;
                }
                &__text {
                  max-width: 393px;
                  width: 100%;
                  border-radius: 10px;
                  padding: 20px;

                  &__float {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    h3 {
                      font-family: 'Open Sans';
                      font-style: normal;
                      font-weight: 400;
                      font-size: 22px;
                      line-height: 30px;
                      /* identical to box height */

                      color: #07484a;
                    }
                    span {
                      font-family: 'Open Sans';
                      font-style: normal;
                      font-weight: 700;
                      font-size: 22px;
                      line-height: 115%;
                      /* or 25px */

                      letter-spacing: -0.02em;

                      color: #07484a;
                    }
                  }
                }
                &__star{
                    margin: 24px 0;
                    max-width: 112px;
                   display: flex;
                    width: 100%;
                    justify-content: space-between;
                    align-items: center;

                }
                &__see{
                    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 115%;
/* or 18px */

letter-spacing: -0.02em;
text-decoration-line: underline;

color: #07484A;

                }
              }
            }
            &__cards{
                width: 100%;
                height: 332px;
                margin-top: 32px;
    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
 
      .swiper-slide{
display: flex;
     height: 148px ;
      width: 663px;
justify-content: space-between;
      }
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
            }
          }
        }
      }
    }
  }
}
